@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --gryphon-red: #C20430;
  --gryphon-gold: #FFC72C;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
